.u-section-1 .u-sheet-1 {
  min-height: 618px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 317px;
  margin: 77px 24px 60px -24px;
}

.u-section-1 .u-shape-1 {
  width: 420px;
  height: 68px;
  margin: -294px auto 0 -50px;
}

.u-section-1 .u-shape-2 {
  width: 420px;
  height: 68px;
  margin: 197px auto 0 -50px;
}

.u-section-1 .u-shape-3 {
  width: 40px;
  height: 234px;
  margin: -273px auto 0 -50px;
}

.u-section-1 .u-shape-4 {
  width: 40px;
  height: 234px;
  margin: -234px -50px 60px auto;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -189px auto 60px;
}

.u-section-1 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-1 .u-countdown-1 {
  margin: 0 auto 60px 52px;
  padding: 0 14px;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  width: auto;
  margin: 20px 24px 60px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 331px;
  width: 400px;
  margin: 347px -30px 60px;
}

.u-section-1 .u-shape-5 {
  width: 420px;
  height: 83px;
  margin: -83px auto 0 -50px;
}

.u-section-1 .u-shape-6 {
  width: 420px;
  height: 51px;
  margin: -331px -40px 0;
}

.u-section-1 .u-shape-7 {
  width: 67px;
  height: 245px;
  margin: -24px auto 60px -50px;
}

.u-section-1 .u-shape-8 {
  width: 74px;
  height: 245px;
  margin: -245px -50px -72px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 331px;
    width: 400px;
    margin: 121px -30px 0;
  }

  .u-section-1 .u-shape-1 {
    height: 91px;
    margin-top: -353px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 171px;
    margin-left: -40px;
    margin-right: -40px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -251px;
  }

  .u-section-1 .u-shape-4 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -267px;
    margin-bottom: 0;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: -123px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    margin: -132px 34px 0 14px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 257px;
    width: 307px;
    margin: 304px auto 0;
  }

  .u-section-1 .u-shape-5 {
    height: 43px;
    margin-top: -50px;
    margin-left: -40px;
    margin-right: -40px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: -250px;
  }

  .u-section-1 .u-shape-7 {
    width: 74px;
    height: 171px;
    margin-top: -14px;
    margin-bottom: 0;
  }

  .u-section-1 .u-shape-8 {
    height: 180px;
    margin-top: -170px;
    margin-bottom: -81px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 667px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 317px;
  margin: 34px -71px 60px -116px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -294px auto 0 85px;
}

.u-section-2 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: auto;
  margin: -196px 172px 0 27px;
}

.u-section-2 .u-countdown-1 {
  margin: 7px auto 60px 277px;
  padding: 0 14px;
}

.u-section-2 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  width: auto;
  margin: -209px -12px 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-bottom: 0;
    margin-top: 0;
  }

  .u-section-2 .u-custom-html-2 {
    width: 707px;
    margin: 264px -84px 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -362px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: 341px;
    margin-top: -183px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-countdown-1 {
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -253px;
    margin-bottom: 183px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 351px;
}

.u-section-3 .u-custom-html-1 {
  margin-top: 313px;
  margin-bottom: 0;
  height: auto;
  min-height: 160px;
}

.u-section-3 .u-shape-1 {
  background-image: none;
  margin-bottom: 0;
}

.u-section-3 .u-shape-2 {
  background-image: none;
  margin-bottom: 0;
}

.u-section-3 .u-group-1 {
  background-image: none;
  margin-top: 270px;
  margin-bottom: 0;
  min-height: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-shape-3 {
  background-image: none;
}

.u-section-3 .u-custom-html-2 {
  height: auto;
  min-height: 317px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -242px 49px 0 360px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -102px auto 0 68px;
}

.u-section-3 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: -202px 784px 0 15px;
}

.u-section-3 .u-countdown-1 {
  animation-timing-function: ease-out;
  margin: 7px auto 60px 72px;
  padding: 0 14px;
}

.u-section-3 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-3 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-3 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 62px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: -42px;
    margin-right: -32px;
    margin-left: 263px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -134px;
    margin-left: 1px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -175px;
    margin-right: 677px;
    margin-left: -30px;
  }

  .u-section-3 .u-countdown-1 {
    margin-top: 9px;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: 54px;
    margin-right: 121px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: 326px;
    margin-top: -470px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-countdown-1 {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1020px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 0;
  }

  .u-section-3 .u-custom-html-2 {
    margin-top: -57px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-3 .u-countdown-1 {
    margin-top: -253px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3958px;
  }

  .u-section-3 .u-custom-html-1 {
    min-height: 306px;
    width: 407px;
    margin-top: 180px;
    margin-left: -33px;
    margin-right: -33px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: -145px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -3961px;
  }

  .u-section-3 .u-text-1 {
    width: 249px;
    font-size: 1.875rem;
    margin-top: -474px;
  }

  .u-section-3 .u-countdown-1 {
    margin-top: 6px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 792px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 51px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px 17px;
  margin: 26px 0 60px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-4 .u-gallery-1 {
    height: 455px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1039px;
  }

  .u-section-4 .u-text-1 {
    width: 162px;
    margin-top: 19px;
  }

  .u-section-4 .u-gallery-1 {
    height: 799px;
    margin-top: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2675px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 36px;
  }

  .u-section-4 .u-gallery-1 {
    height: 2435px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1897px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1565px;
    margin-top: 24px;
    margin-right: initial;
    margin-left: initial;
  }
}