.u-section-1 .u-sheet-1 {
  min-height: 119px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto;
}.u-section-2 .u-sheet-1 {
  min-height: 220px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  width: 680px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 680px;
  margin: 8px auto 46px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 782px;
}

.u-section-3 .u-group-1 {
  width: 800px;
  min-height: 75px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-3 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 9px 90px 0;
}

.u-section-3 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 51px 0 0;
}

.u-section-3 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -115px auto 0;
}

.u-section-3 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px 0 0;
}

.u-section-3 .u-text-6 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px auto 0;
}

.u-section-3 .u-accordion-1 {
  margin-top: 17px;
  margin-bottom: 17px;
}

.u-section-3 .u-accordion-link-1 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-1 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 291px;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-3 .u-text-7 {
  margin-bottom: 0;
  margin-top: 2px;
}

.u-section-3 .u-text-8 {
  text-decoration: underline !important;
  margin: -18px 0 0;
}

.u-section-3 .u-text-9 {
  width: 799px;
  margin: 17px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 13px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-3 .u-accordion-link-2 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-2 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153) !important;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 291px;
  height: auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 30px 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: -4px 30px 0;
}

.u-section-3 .u-text-12 {
  margin: 30px 30px 0;
}

.u-section-3 .u-accordion-link-3 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 291px;
  height: auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px;
}

.u-section-3 .u-text-13 {
  margin-bottom: 0;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  text-decoration: underline !important;
  margin: -16px 0 0;
}

.u-section-3 .u-text-15 {
  margin: 30px 0 0;
}

.u-section-3 .u-accordion-link-4 {
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 20px;
  color: rgb(153, 153, 153);
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 338px;
  height: auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px 20px;
}

.u-section-3 .u-text-16 {
  margin-bottom: 0;
  margin-top: 10px;
}

.u-section-3 .u-text-17 {
  font-weight: 400;
  margin: 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 13px auto 0;
  padding: 6px 31px 6px 30px;
}

.u-section-3 .u-text-18 {
  text-decoration: underline !important;
  width: 624px;
  margin: 10px auto 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-9 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-9 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-18 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: -184px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 139px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-9 {
    width: 320px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 7px;
    padding: 5px 10px 7px 9px;
  }

  .u-section-3 .u-text-18 {
    width: 320px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 650px;
}

.u-section-4 .u-group-1 {
  width: 800px;
  min-height: 75px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 16px 157px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0;
}

.u-section-4 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 6px auto 0;
}

.u-section-4 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 10px 0 0;
}

.u-section-4 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 10px auto 0;
}

.u-section-4 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-4 .u-group-1 {
    min-height: 119px;
    margin-top: 10px;
    margin-right: auto;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1033px;
}

.u-section-5 .u-group-1 {
  width: 800px;
  min-height: 75px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 16px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-5 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-5 .u-text-2 {
  text-decoration: underline !important;
  margin: 18px auto 0;
}

.u-section-5 .u-text-3 {
  text-decoration: underline !important;
  margin: -22px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 18px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: 16px auto 0;
}

.u-section-5 .u-gallery-1 {
  width: 303px;
  height: 565px;
  grid-gap: 10px 10px;
  margin: 21px auto 0 263px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-5 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-5 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  text-decoration: underline !important;
  margin: -541px auto 0 591px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 35px auto 0 617px;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0 617px;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 16px auto 0 617px;
  padding: 6px 31px 6px 30px;
}

.u-section-5 .u-group-2 {
  width: 294px;
  min-height: 282px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 21px 263px 60px auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 25px;
}

.u-section-5 .u-text-7 {
  margin: 16px 0 0;
}

.u-section-5 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-gallery-1 {
    margin-left: 163px;
  }

  .u-section-5 .u-carousel-thumbnail-1 {
    width: 94px;
    height: 94px;
  }

  .u-section-5 .u-carousel-thumbnail-2 {
    width: 94px;
    height: 94px;
  }

  .u-section-5 .u-carousel-thumbnail-3 {
    width: 94px;
    height: 94px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: -565px;
    margin-right: 181px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 16px;
    margin-left: 508px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 508px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 508px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 16px;
    margin-right: 176px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -16px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 12px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 16px;
    margin-left: 60px;
  }

  .u-section-5 .u-text-6 {
    margin-top: -547px;
    margin-right: 60px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 27px;
    margin-left: 409px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 409px;
  }

  .u-section-5 .u-btn-3 {
    margin-left: 409px;
  }

  .u-section-5 .u-group-2 {
    margin-right: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 989px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 9px;
    margin-left: 12px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
    margin-top: -565px;
    margin-right: 23px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 16px;
    margin-left: 331px;
    padding-right: 19px;
    padding-bottom: 7px;
    padding-left: 19px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 15px;
    margin-right: 7px;
    margin-left: auto;
    padding-right: 19px;
    padding-bottom: 7px;
    padding-left: 19px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 12px;
    margin-right: 7px;
    margin-left: auto;
    padding-right: 19px;
    padding-left: 19px;
  }

  .u-section-5 .u-group-2 {
    width: 213px;
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 9px;
    padding: 16px 5px 17px 3px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1578px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    width: 193px;
    margin-top: 12px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-5 .u-group-2 {
    min-height: 264px;
    margin-right: auto;
    margin-bottom: 30px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 426px;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 75px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-scale: 1;
  margin: 18px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 18px auto 0;
}

.u-section-6 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0;
}

.u-section-6 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: 22px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 14px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 14px;
    margin-bottom: 47px;
  }
}