.u-section-1 .u-sheet-1 {
  min-height: 1019px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 806px;
  margin-top: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 926px;
  width: 640px;
  margin: 0 -50px;
}

.u-section-1 .u-custom-html-3 {
  margin-top: 380px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-custom-html-4 {
  margin: 30px 129px 60px auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -41px auto 32px 180px;
}

.u-section-1 .u-custom-html-5 {
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1040px;
  }

  .u-section-1 .u-custom-html-1 {
    min-height: 906px;
    width: 1148px;
    margin-left: -104px;
    margin-right: -104px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 935px;
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
    min-height: 906px;
    width: 1040px;
    margin: -983px -50px 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
    margin-bottom: 22px;
    margin-left: 199px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 50px;
    margin-left: -50px;
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 981px;
    margin-right: 170px;
    margin-left: -11px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -30px;
    margin-bottom: 0;
    margin-left: 162px;
  }

  .u-section-1 .u-custom-html-5 {
    height: auto;
    min-height: 937px;
    width: 820px;
    margin-top: -1015px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-4 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -34px;
    margin-left: auto;
    margin-bottom: 35px;
    padding: 4px 30px 5px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    min-height: 926px;
    width: 440px;
    margin-top: 0;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 39px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: -1015px;
    width: 340px;
  }
}