.u-section-1 .u-sheet-1 {
  min-height: 1347px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  height: auto;
  min-height: 806px;
  margin-top: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 926px;
  width: 640px;
  margin: 0 -50px;
}

.u-section-1 .u-custom-html-3 {
  margin-top: 380px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  text-decoration: underline !important;
  margin: 0 auto;
}

.u-section-1 .u-custom-html-4 {
  margin: 30px 129px 60px auto;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 60px;
}

.u-section-1 .u-custom-html-5 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -7px -51px 60px;
  padding: 11px 142px 13px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -679px -51px 60px;
  padding: 11px 142px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    min-height: 906px;
    width: 1148px;
    margin-left: -104px;
    margin-right: -104px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 907px;
  }

  .u-section-1 .u-custom-html-4 {
    height: auto;
    min-height: 906px;
    width: 1040px;
    margin: -955px -50px 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
    margin-bottom: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 50px;
    margin-left: -50px;
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    width: 561px;
    font-size: 1rem;
    margin-top: 953px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-1 .u-custom-html-5 {
    height: auto;
    min-height: 937px;
    width: 820px;
    margin: -1018px -50px 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -229px;
    margin-right: auto;
    margin-left: -50px;
    padding-top: 9px;
    padding-right: 143px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -680px;
    margin-right: auto;
    margin-left: -50px;
    padding: 15px 78px 16px 77px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-4 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -11px;
    padding: 4px 30px 5px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -312px;
    margin-bottom: 0;
    padding-top: 11px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -683px;
    padding: 17px 82px 17px 80px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-3 {
    height: auto;
    min-height: 926px;
    width: 440px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
    margin-top: 14px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -8px;
  }

  .u-section-1 .u-custom-html-5 {
    margin-top: -1018px;
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -355px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -681px;
    padding-top: 16px;
    padding-right: 77px;
    padding-left: 77px;
  }
}